// Footer stilization
.footer {
  background: linear-gradient(126deg, #ffb8ca, #9f465b, #f6a7bb, #af6678);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  //overflow: hidden;
  padding-bottom: 15px;
  &__inner {
    display: flex;
    padding-top: 1200px;
    flex-direction: column;
    gap: 40px;
    position: relative; //for the card list
  }
  &__links {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    text-align: right;
    color: #000000;
    & > span > a {
      color: var(--brand-color);
      text-decoration: none;
    }
  }
  .copyright {
    border-top: 1px solid #e1e1e1;
    padding-top: 16px;
    margin-top: 40px;
    p {
      text-align: center;
      max-width: 150px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.footer__inner {
  .subtitle {
    max-width: 232px;
    text-align: left;
    color: var(--white-color);
  }
  .title {
    max-width: 200px;
    text-align: left;
    margin-top: -20px;
  }
  .footer__icon {
    &__link {
      background-color: var(--primary1-color);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 34px;
      &:hover {
        background-color: var(--brand-color);
      }
    }
    &__list {
      display: flex;
      gap: 30px;
      justify-content: flex-end;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__links {
      font-size: 14px;
    }
    .copyright {
      p {
        max-width: 300px;
      }
    }
  }
  .footer__inner {
    .title {
      position: relative;
      top: 140px;
    }
    .subtitle {
      position: relative;
      top: 140px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer__inner {
    .subtitle {
      max-width: 300px;
    }
  }
}

//UI Card stilization
.card__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  position: absolute;
  top: -290px;
}

.card__item {
  width: 100%;
  background-color: var(--white-color);
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  display: flex;
  flex-direction: column;
  padding: 40px 32px;
  .card__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--primary2-color);
    border-radius: 4px;
    max-width: 80px;
    margin-bottom: 20px;
  }
  .card__div {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
  .card__div:last-child {
    border-bottom: none;
    margin-bottom: 0px;
  }
  .card__subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #000000;
    text-transform: uppercase;
  }
  .card__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #907e82;
  }
  .card__link {
    display: block;
  }
  .card__date {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: var(--secondary1-color);
    margin-top: -8px;
  }
  #date1 {
    margin-bottom: 8px;
  }
  #food {
    background-color: var(--primary3-color);
    max-width: 130px;
  }
}

@media screen and (min-width: 768px) {
  .card__list {
    top: -50px;
  }
  .card__item {
    max-width: 178px;
  }
  .card__title {
    font-size: 16px;
    max-width: 73px;
  }
  #food {
    max-width: 138px;
  }
  .card__subtitle {
    font-size: 14px;
  }
  .card__text {
    font-size: 14px;
  }
  .card__date {
    font-size: 14px;
  }
  #date1 {
    margin-bottom: 12px;
  }
  .card__div {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
  .footer__inner {
    display: flex;
    padding-top: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .card__list {
    top: -120px;
    left: 100px;
  }
  .card__item {
    max-width: 250px;
  }
  .card__title {
    font-size: 16px;
    max-width: 73px;
  }
  #food {
    max-width: 138px;
  }
  .card__subtitle {
    font-size: 16px;
  }
  .card__text {
    font-size: 16px;
    max-width: 250px;
  }
  .card__date {
    font-size: 16px;
  }
  #date1 {
    margin-bottom: 12px;
  }
  .card__div {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
  .footer__inner {
    display: flex;
    padding-top: 350px;
  }
}
