/* This is the stilization for the review section */

// The gallery div of the section
.gallery__list {
  display: flex;
  gap: 3px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    img {
      width: 44px;
      height: 44px;
    }
    .wierd__image {
      width: 90px;
      height: 90px;
    }
  }
}

.gallery__list__item {
  &:first-child {
    position: relative;
    top: 25px;
  }
  &:nth-child(3) {
    position: relative;
    top: -25px;
  }
  &:nth-child(5) {
    position: relative;
    top: -15px;
  }
  &:nth-child(6) {
    position: relative;
    top: 25px;
  }
}

.gallery {
  position: relative;
  top: 0px;
}

@media screen and (min-width: 768px) {
  .gallery {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery__list {
    gap: 6px;
    &__list {
      gap: 6px;
    }
    img {
      width: 105px;
      height: 105px;
    }
    .wierd__image {
      width: 215px;
      height: 215px;
    }
  }
  .gallery__list__item {
    &:first-child {
      position: relative;
      top: 50px;
    }
    &:nth-child(3) {
      position: relative;
      top: -50px;
    }
    &:nth-child(5) {
      position: relative;
      top: -30px;
    }
    &:nth-child(6) {
      position: relative;
      top: 50px;
    }
  }

  .gallery {
    position: relative;
    top: -20px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    max-width: 1013px;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery__list {
    gap: 8px;
    &__list {
      gap: 8px;
    }
    img {
      width: 138px;
      height: 138px;
    }
    .wierd__image {
      width: 238px;
      height: 238px;
    }
  }
  .gallery__list__item {
    &:first-child {
      position: relative;
      top: 70px;
    }
    &:nth-child(3) {
      position: relative;
      top: -70px;
    }
    &:nth-child(5) {
      position: relative;
      top: -40px;
    }
    &:nth-child(6) {
      position: relative;
      top: 70px;
    }
  }

  .gallery {
    position: relative;
    top: -40px;
  }
}

//Review stilization
.review__inner {
  margin-top: 60px;
  margin-bottom: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  & > img {
    border-radius: 50%;
  }
  &--div {
    background-color: #fafafa;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
    position: relative;
    & > svg {
      width: 54px;
      height: 40px;
      position: absolute;
      top: 40px;
      left: 70px;
      z-index: 1;
    }
  }
  &--text {
    font-weight: 500;
    font-size: 12px;
    line-height: 2.5;
    text-align: center;
    color: #000000;
    max-width: 157px;
    position: relative;
    z-index: 2;
  }
  &--subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: #000000;
  }
}

@media screen and (min-width: 768px) {
  .review__inner {
    margin-bottom: 200px;
    &--div {
      padding: 37px 55px;
      & > svg {
        width: 60px;
        height: 40px;
        top: 20px;
        left: 160px;
      }
    }
    &--text {
      font-size: 14px;
      line-height: 2.1;
      max-width: 500px;
    }
    &--subtitle {
      font-size: 16px;
      line-height: 1.86;
    }
  }
}

@media screen and (min-width: 1200px) {
  .review__inner {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    &--div {
      padding: 37px 55px;
      & > svg {
        width: 54px;
        height: 40px;
        top: 20px;
        left: 145px;
      }
    }
    &--text {
      font-size: 16px;
      line-height: 1.86;
      max-width: 750px;
    }
    &--subtitle {
      font-size: 20px;
    }
  }
}
